html {
    font-size: 0.938vw;
    font-size: 14px;
}

html, body {
    margin: 0;
    padding: 0;
    color: #fff;
}

.setting_menu {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.setting_menu .input + .input {
    margin-top: 1rem;
}

.input_list {
    width: 100%;
    display: flex;
}

.setting_menu p {
    margin-top: 0 !important;
}

.save_btn {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.save_btn-setting {
    margin-top: 0;
    margin-bottom: 2rem;
}

.setting_menu p {
    text-transform: uppercase;
    font-size: 1rem;
}

.setting_menu .input + .input {
    margin-top: 2rem;
}

.input_list input[type="text"] {
    flex-grow: 2;
}

.status-link {
    display: flex;
    align-items: center;
}

.control_bar .btn + .btn {
    margin-top: 0.5rem;
}

.status-link_main {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.status-link_main .btn + .btn {
    margin-left: 1.5rem;
}

.btn {
    display: flex;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    text-align: center;
    cursor: pointer;
}

.shards_main-map {
    overflow: hidden;
}

.btn-def {
    background-color: #454545;

    border: 1px solid #666666;
    transition: 0.3s;
    transform: translateY(0);
}

.btn-def:hover {

}

.btn-nav {
    background-color: #4D4D4D;
    flex-grow: 2;
    border-bottom: 1px solid #666666;
    align-items: center;
    justify-content: flex-start;
}

.btn-nav i {
    margin-right: 1rem;
}

.btn-nav.active {
    background-color: #484848;
    border-bottom: 1px solid transparent;
}

.btn-nav + .btn-nav {
    border-left: 1px solid #666666;
}

.btn-list + .btn-list {
    border-top: none;
}

.btn-list {
    background-color: #535353;
    border: 1px solid #666666;
    border-right: none;
    position: relative;
}

.btn-list.active {
    background-color: #4D4D4D;
}

.btn-list.active:before {
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #4D4D4D;
    transform: translateX(-50%);
    height: 100%;
    width: 5px;
}

.control {
    width: 100%;
    height: 100vh;
    background-color: #535353;
    padding: 0.5rem;
    box-sizing: border-box;
    display: flex;
}

.control_bar {
    width: 13.57rem;
    /*width: 200px;*/
    padding: 0.5rem;
    padding-top: 0;
    padding-left: 0;
}

.btn-circle {
    position: relative;
    padding: 0.75rem 0;
    padding-left: 1rem;
    align-items: center;
    justify-content: flex-start;
}


.btn-circle:before {
    content: '';
    width: 1rem;
    height: 1rem;
    background-color: #ccc;
    border-radius: 100%;
    margin-right: 1rem;
}

.btn-circle.active:before {
    background-color: lightgreen;
}

.text {
    font-family: "Tahoma";
    /*    font-family: "Open Sans", sans-serif;*/
}

.status_link {
    margin-right: 1rem;
}

.icon-width {
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.groups .text {
    display: flex;
    align-items: center;
}

.status_link a {
    color: #707070;
}

.status-link {
    margin-right: 1rem;
}

.sector_name {
    letter-spacing: 0.5rem;
    margin-right: 1rem;
}

.status_container {
    display: flex;
    align-items: center;
}

thead th + th {
    border-left: 3px solid #454545;
}

.text-r1 {
    font-size: 1rem;
}

.text-s18 {
    font-size: 1.3rem;
}

.text-s16 {
    font-size: 0.888rem;
}

.text-s14 {
    font-size: 0.777rem;
}

.text-s12 {
    font-size: 0.666rem;
}

.control_main {
    width: 10%;
    flex-grow: 2;
    border: 1px solid #666666;
    background-color: #484848;
    display: flex;
    flex-direction: column;
}

.control_main_head {
    display: flex;
    flex-wrap: wrap;
}

.control_main_table {
    padding: 0.5rem;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

.control_main_table-row {
    flex-direction: row;
    align-items: flex-start;
}


.table_box {
    width: 10%;
    flex-grow: 2;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    position: relative;

}

.table_box_container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.table_box_container::-webkit-scrollbar-track {
    background-color: #535353;
}

/* Handle */
.table_box_container::-webkit-scrollbar-thumb {
    background: #666666;

}

/* Handle on hover */
.table_box_container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.table_box_container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.table {
    border: 1px solid #666666;
    width: 100%;
    text-align: left;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.dialog {
    display: flex;
    flex-wrap: wrap;
}

.dialog_icon {
}

.dialog_main {
    width: 10%;
    flex-grow: 2;
    color: #fff;
}

.groups-show i:before {
    transform: rotate(90deg);
    display: flex;
}


.inputs_box .inputs p {
    margin-top: 0;
}

.inputs_box .inputs {
    margin-top: 0;
}

.inputs_box {
    padding: 0.5rem;
}

.inputs_box-color {
    background: #5d5d5d;
}

.settings {
    width: 21.42rem;
    margin-left: 0.5rem;
    box-sizing: border-box;
    padding-top: 0;
}


.table th, .table td {
    padding: 0.5rem 1rem;
}

.status-link_text {
    white-space: nowrap;
}

.check_in_edit {
    display: flex;
    margin-left: 1rem;
}

.check_in_edit > * + * {
    margin-left: 0.5rem;
}

.check_in_name {

}

.check_in_name-flex {
    display: flex;
    flex-grow: 2;
}

.check_in_name-flex > * + * {
    margin-left: 1rem;
}

.check_in_name-flex > *:nth-child(1) {
    flex-grow: 2;
}

.table td:not(:nth-child(2)) {
    width: 10px;
    text-align: center;

}

.table th:not(:nth-child(2)) {
    width: 10px;
    text-align: center;
}

.table td {
    padding: 0.8rem 1rem;
}

.table th {
    background-color: #535353;
}

.table tbody {
    background-color: #454545;
}

.maps {
    overflow: scroll;
}

.maps::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.shards_main-map {
    position: relative;
}

.maps {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* Track */
.maps::-webkit-scrollbar-track {
    background-color: #535353;
}

/* Handle */
.maps::-webkit-scrollbar-thumb {
    background: #666666;

}

/* Handle on hover */
.maps::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.shards {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
}

.shards_bar {
    width: 50px;
}


.shards_main {
    width: 10%;
    flex-grow: 2;
    background-color: #4D4D4D;
    min-height: 200px;
    border: 1px solid #666666;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}


.check_in {
    padding: 0.5rem;
    background-color: #434343;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check_in + .check_in {
    border-top: 1px solid #666666;
}

.shards_nav {
    width: 300px;
    margin-left: 0.5rem;
}

.inputs {
    margin-top: 0.5rem;
}

.input {
    display: flex;
    flex-direction: column;
}

.input p {
    margin: 0.5rem 0;
}

input.input_in {
    background-color: #333333;
    border: 1px solid #666666;
    outline: none;
    color: #fff;
    padding: 0.25rem 0.5rem;
}

.inputs-flex {
    margin-left: -0.5rem;
    display: flex;
    flex-wrap: wrap;
}


.inputs + .inputs {
    /*border-top: 1px solid #666666;*/
}

.input-w50 {
    width: calc(50% - 0.5rem);
    margin-left: 0.5rem;
}

.input-full {
    width: 100%;
}


.input-right .input_in {
    text-align: right;
}

input[type=checkbox], input[type=radio] {
    --active: #4E97FC;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, 0.3);
    --border: #bbc1e1;
    --border-hover: #275efe;
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
}

input[type=checkbox]:checked, input[type=radio]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

input[type=checkbox].switch {
    width: 64px;
    border-radius: 11px;
}


input[type=checkbox].switch:checked {
    --ab: var(--active-inner);
    --x: 42px;
}

input[type=checkbox]:after, input[type=radio]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
}

input[type=checkbox].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #ccc;
    /*background: var(--ab, var(--border));*/
    transform: translateX(var(--x, 0));
}

.btn-status {
    padding: 0;
}

.btn-status.btn-play.active {
    color: lime;
}

.btn-status.btn-botting.active {
    color: cyan;
}

.btn-status.btn-pause.active {
    color: #00ffdc;
}

.btn-status.btn-stop.active {
    color: red;
}

.btn-status + .btn-status {
    margin-left: 0.5rem;
}

.btn-setting {
    font-size: 1rem;
}

input[type=checkbox].switch:checked:after {
    background: #fff;
}

input[type=checkbox] + label, input[type=radio] + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
}

td.groups {
    background: #414141;
    color: #4C97FC;
    padding: 1rem 1rem;
}

tr:not(.active) td {
    border-bottom: 1px solid #373737;
}

td.groups-show {
    background-color: #454545;
}

.groups i {
    margin-right: 0.5rem;
}
