﻿@page "/"
@using System.Drawing
@using Vodji.Atlas
@using Vodji.Atlas.AtlasCMD
@using Vodji.Atlas.AtlasCMD.ShooterGame.Extensions
@using Vodji.Atlas.AtlasCMD.ShooterGame.Models
@using Vodji.Atlas.Configurations
@using Vodji.Atlas.Configurations.Extensions

@functions {
    [Inject]
    public SQLConnection SQL { get; set; }
}

<div class="control">
    <div class="control_bar">
        <a href="javascript:void(null)" class="btn btn-circle active btn-def text text-s18">
            Start Cluster
        </a>

        <div class="inputs_box">
            <div class="inputs">
                <div class="input input-full text text-s14">
                    <p>
                        Public name
                    </p>
                    <input class="input_in" type="text" @bind-value="GameConfig.WorldFriendlyName">
                </div>
                <div class="input input-full text text-s14">
                    <p>
                        AtlasID
                    </p>
                    <input class="input_in" type="text" @bind-value="GameConfig.WorldAtlasId">
                </div>
                <div class="input input-full text text-s14">
                    <p>
                        Pasword
                    </p>
                    <input class="input_in" type="text" @bind-value="GameConfig.WorldAtlasPassword">
                </div>
            </div>
        </div>
    </div>
    <div class="control_main">
        <div class="control_main_head">
            <a href="#" class="btn active btn-nav text text-s18">
                <i class="fas fa-server"></i> Servers
            </a>
            @*<a href="./shards.html" class="btn btn-nav text text-s18">
                <i class="fas fa-server"></i> Claster Shards
                </a>
                <a href="./maps.html" class="btn btn-nav text text-s18">
                <i class="fas fa-server"></i> ServerGrid Editor
                </a>
                <a href="./shards.html" class="btn btn-nav text text-s18">
                <i class="fas fa-server"></i> Event Schedule
                </a>*@
        </div>
        <div class="control_main_table control_main_table-row">
            <div class="table_box">
                <div class="table_box_container">
                    <table class="table text text-r1" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr class="text text-r1">
                                <th>Status</th>
                                <th>Server Name</th>
                                <th>Players</th>
                                <th>Memory</th>
                                <th>CPU</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="5" class="groups ">
                                    <span class="text text-s18"> <i class="far fa-hdd icon-width"></i> @GameConfig.ServerGrid.servers.Count() Local Shards</span>
                                </td>
                            </tr>
                            @foreach (var server in GameConfig.ServerGrid.servers)
                            {
                                var appServer = server.CreateAppServerAsync().Result;
                                <tr>
                                    <td>
                                        <div class="status_container">
                                            <div class="status_link icon-width">
                                                <a href="javascript:void(null)"> <i class="fas fa-plus"></i></a>
                                            </div>
                                            <div class="sector_name">
                                                @appServer.GridName
                                            </div>
                                            <div class="status-link">
                                                <div class="status-link_main">
                                                    @{
                                                        if (appServer.PID is null)
                                                        {
                                                            <a href="javascript:void(null)" class="btn btn-play btn-status fas fa-play" @onclick="() => StartServerAsync(server)"></a>
                                                        }
                                                        else
                                                        {
                                                            <a href="javascript:void(null)" class="btn btn-stop btn-status active fas fa-stop" @onclick="() => StopServerAsync(server)"></a>
                                                        }
                                                    }
                                                    @*<a href="javascript:void(null)" class="btn btn-pause btn-status  fas fa-pause"></a>
                                                        <a href="javascript:void(null)" class="btn btn-setting btn-status  fas fa-cog"></a> *@
                                                </div>
                                            </div>
                                            <div class="status-link">
                                                <div class="status-link_text">@(appServer.PID is null ? "Offline" : "Online")</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="server_name" @onclick="() => _appServer = appServer">@appServer.Name</td>
                                    <td>0</td>
                                    <td>0.00 MB</td>
                                    <td>0</td>
                                </tr>
                                @* <tr>
                                    <td colspan="5" class="groups groups-show ">
                                    <div class="dialog">
                                    <div class="dialog_icon">
                                    <span class="text text-s18"> <i
                                    class="fas fa-level-up-alt icon-width fa-hdd"></i></span>
                                    </div>
                                    <div class="dialog_main text text-s18">
                                    <div class="">
                                    Server console, info here

                                    </div>
                                    </div>
                                    </div>
                                    </td>
                                    </tr>*@
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            @if (_appServer is not null)
            {
                <div class="settings">
                    <div class="btn text btn-def">
                        @(_appServer.PID is null ? $"Offline {_appServer.GridName}":$"[{_appServer.PID}] Online {_appServer.GridName}")
                    </div>

                    <div class="inputs_box">
                        <div class="inputs">
                            <div class="input input-full text text-s14">
                                <p>
                                    Server name
                                </p>
                                <input class="input_in" type="text" @bind-value="_appServer.Name">
                            </div>
                            <div class="input input-full text text-s14">
                                <p>
                                    Server adress
                                </p>
                                <input class="input_in" type="text" placeholder="@GameConfig.AppConfig.SeamlessIP" @bind-value="_appServer.SeamlessIP">
                            </div>
                            <div class="input input-full text text-s14">
                                <p>
                                    Server Pasword
                                </p>
                                <input class="input_in" type="text" placeholder="@GameConfig.AppConfig.ServerAdminPassword" @bind-value="_appServer.ServerAdminPassword">
                            </div>
                        </div>
                    </div>
                    <div class="inputs_box inputs_box-color">
                        <div class="inputs inputs-flex">
                            <div class="input input-w50 text text-s14">
                                <p>
                                    Max Players
                                </p>
                                <input class="input_in" type="text" placeholder="@GameConfig.AppConfig.MaxPlayers" @bind-value="_appServer.MaxPlayers">
                            </div>
                            <div class="input input-w50 text text-s14">
                                <p>
                                    Reserved
                                </p>
                                <input class="input_in" type="text" placeholder="@GameConfig.AppConfig.ReservedSlots" @bind-value="_appServer.ReservedSlots">
                            </div>
                            <div class="input input-w50 text text-s14">
                                <p>
                                    Query Port
                                </p>
                                <input class="input_in" type="text" placeholder="@GameConfig.GetPort(_appServer.Server, PortMode.QueryPort)" @bind-value="_appServer.QueryPort">
                            </div>

                            <div class="input input-w50 text text-s14">
                                <p>
                                    Game Port
                                </p>
                                <input class="input_in" type="text" placeholder="@GameConfig.GetPort(_appServer.Server, PortMode.GamePort)" @bind-value="_appServer.GamePort">
                            </div>

                            <div class="input input-w50 text text-s14">
                                <p>
                                    RCON Port
                                </p>
                                <input class="input_in" type="text" placeholder="@GameConfig.GetPort(_appServer.Server, PortMode.RconPort)" @bind-value="_appServer.RconPort">
                            </div>
                            <div class="input input-w50 text text-s14">
                                <p>
                                    Seamless Port
                                </p>
                                <input class="input_in" type="text" placeholder="@GameConfig.GetPort(_appServer.Server, PortMode.SeamlessPort)" @bind-value="_appServer.SeamlessPort">
                            </div>

                            <div class="input input-w50 text text-s14">
                                IsHomeServer
                            </div>
                            <div class="input input-w50 text text-s14">
                                <input type="checkbox" @bind="_appServer.IsHomeServer" />
                            </div>
                        </div>
                    </div>

                    <div class="input input-full text text-s14">
                        <p>
                            cmdLineParams
                        </p>
                        <textarea style="height: 198px; max-width: 20.5rem; min-width: 20.5rem; width: 287px;" class="input_in"
                              placeholder="@GameConfig.AppConfig.ServerArguments" @bind="_appServer.CmdLineArguments"></textarea>
                    </div>

                    <div class="input input-full text text-s14">
                        <p>
                            AdditionalCmdLineParams
                        </p>
                        <textarea class="input_in textarea" @bind="_appServer.Server.AdditionalCmdLineParams"></textarea>
                    </div>
                    <div class="btn text btn-def" @onclick="ClearButton">Clear @_appServer.GridName</div>
                    <div class="btn text btn-def" @onclick="DumpButton">Dump @_appServer.GridName</div>
                    <div class="btn text btn-def" @onclick="SaveButton">Save @_appServer.GridName</div>
                </div>
            }
        </div>
    </div>
</div>

@code {
    private AppServer _appServer;
    private async void StartServerAsync(Server server)
    {
        await server.LaunchServerAsync();
        await InvokeAsync(StateHasChanged);
    }
    private async void StopServerAsync(Server server)
    {
        await server.StopServerAsync();
        await InvokeAsync(StateHasChanged);
    }
    private async void SaveButton()
    {
        using (SQLConnection sql = new())
        {
            sql.AppServers.Update(_appServer);
            if (await sql.SaveChangesAsync() == default)
            {
                Console.WriteLine($"{DateTime.UtcNow} [FAIL-UPDATE] {_appServer.GridName}");
                return;
            }

            Console.WriteLine($"{DateTime.UtcNow} [UPDATE] {_appServer.GridName}");
        }
    }

    private void ClearButton()
    {
        _appServer.ServerAdminPassword =
        _appServer.SeamlessIP =
        _appServer.ServerAdminPassword =
        _appServer.CmdLineArguments = null;
        _appServer.MaxPlayers =
        _appServer.ReservedSlots =
        _appServer.QueryPort =
        _appServer.GamePort =
        _appServer.RconPort =
        _appServer.SeamlessPort = null;
    }

    private void DumpButton()
    {
        _appServer.SeamlessIP = GameConfig.AppConfig.SeamlessIP;
        _appServer.ServerAdminPassword = GameConfig.AppConfig.ServerAdminPassword;
        _appServer.MaxPlayers = GameConfig.AppConfig.MaxPlayers;
        _appServer.ReservedSlots = GameConfig.AppConfig.ReservedSlots;
        _appServer.CmdLineArguments = GameConfig.AppConfig.ServerArguments;
        _appServer.QueryPort = GameConfig.GetPort(_appServer.Server, PortMode.QueryPort);
        _appServer.GamePort = GameConfig.GetPort(_appServer.Server, PortMode.GamePort);
        _appServer.RconPort = GameConfig.GetPort(_appServer.Server, PortMode.RconPort);
        _appServer.SeamlessPort = GameConfig.GetPort(_appServer.Server, PortMode.SeamlessPort);
    }
}