﻿@page "/serverGrid"
@using BlazorComponents.Canvas

@functions {
    [Inject]
    public SQLConnection SQL { get; set; }
}

<div class="control">
    <div class="control_bar">
        <a href="javascript:void(null)" class="btn btn-def text text-s16">
            Start Cluster
        </a>
    </div>
    <div class="control_main">
        <div class="control_main_head">
            <a href="./index.html" class="btn btn-nav text text-s16">
                Cluster Overview 131 Servers
            </a>
            <a href="./shards.html" class="btn active btn-nav text text-s16">
                Claster Shards
            </a>
            <a href="./maps.html" class="btn active btn-nav text text-s16">
                ServerGrid Editor
            </a>
            <a href="./shards.html" class="btn btn-nav text text-s16">
                Event Schedule
            </a>
        </div>
        <div class="control_main_table">
            <div class="shards">
                <div class="shards_main shards_main-map">
                    <div class="maps">

                        @* <Vodji.BlazorComponents.Canvas.CanvasElement style="@_style" @onmousewheel="UpdateHeading" @ref="_context" /> *@

                    </div>
                </div>
                <div class="shards_nav">

                </div>
            </div>
        </div>
    </div>
</div>
@code {
    //https://stackoverflow.com/questions/9880279/how-do-i-add-a-simple-onclick-event-handler-to-a-canvas-element
        private void UpdateHeading(WheelEventArgs e)
        {
            Console.WriteLine($"{e.Button} {e.Buttons} {e.DeltaMode} {e.DeltaX} {e.Detail} {e.OffsetX}");
        }

    @* private string _style => $"height: {SizeY}px; width: {SizeX}px;"; *@
}